{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>Welcome Back 👋🏻</h2>
        <p class="sub-text">
            Please Login to access your account :)
        </p>

        <form method="POST">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="password" name="password" placeholder="Enter your password">
            <button type="submit">Login</button>
        </form>

        <div class="auth-links">
            <a href="#">Forgot Password?</a>
        </div>

        <p class="switch-auth">
            Don't have an account? <a href="/signup">Sign up</a>
        </p>
    </div>
</div>

{% endblock %}