{% extends "base.html" %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <p class="sub-text">
            Start your journey with AI CAREER
        </p>

        <form method="POST">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="password" name="password" placeholder="Create your password">
            <p class="sub-text">Use at least 6 characters</p>
            <button type="submit">Sign up</button>
        </form>

        <p class="switch-auth">
            Already have an account? <a href="/login">Login</a>
        </p>
    </div>
</div>

{% endblock %}